<ul>
  <li>
    <button (click)="setTemperature(40)" [disabled]="disabled">40</button>
  </li>
  <li>
    <button (click)="setTemperature(35)" [disabled]="disabled">35</button>
  </li>
  <li>
    <button (click)="setTemperature(30)" [disabled]="disabled">30</button>
  </li>
  <li>
    <button (click)="setTemperature(25)" [disabled]="disabled">25</button>
  </li>
  <li>
    <button (click)="setTemperature(20)" [disabled]="disabled">20</button>
  </li>
  <li>
    <button (click)="setTemperature(15)" [disabled]="disabled">15</button>
  </li>
  <li>
    <button (click)="setTemperature(10)" [disabled]="disabled">10</button>
  </li>
  <li><button (click)="setTemperature(5)" [disabled]="disabled">5</button></li>
  <li><button (click)="setTemperature(0)" [disabled]="disabled">0</button></li>
  <li>
    <button (click)="setTemperature(-5)" [disabled]="disabled">- 5</button>
  </li>
  <li>
    <button (click)="setTemperature(-10)" [disabled]="disabled">- 10</button>
  </li>
</ul>
